{% extends "base.html" %}

{% block title%}Changed{% endblock %}

{% block content %}
<!-- 
<div class="progress" style="width: 70%" >
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 98%" data-bs-toggle="tooltip" data-bs-placement="bottom" title=" 98% complete">98%</div>
</div> -->

<div class="card" style="width: 70%">
    <div class="card-header">
      You are : {{typeTblAndCareersTblList[0][0]}}
      (  {{type}} )
      
    </div>
    <div class="card-body">
      
      <h4>{{ans}}</h4>
      
        

      
      
      
    </div>
  </div>
{% endblock %}
