{% extends "base.html" %}

{% block title%}Changed{% endblock %}

{% block content %}

<div class="progress" style="width: 70%" >
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
</div>

<div class="card" style="width: 70%">
    <div class="card-header">
      Question 2
    </div>
    <div class="card-body">
      <h5 class="card-title">You usually get more joy out of:</h5>
      <p class="card-text">answer here</p>
      <div class="row">
          <div class="col-sm-6">
            <!-- <a href="/set1/a" class="btn btn-danger">Back</a> -->

          </div>
          <div class="col-sm-6">
            <div class="text-end">
                <a href="/set1/c" class="btn btn-primary">Next</a>
              </div>

          </div>
        

      </div>
      
      
    </div>
  </div>
{% endblock %}
